/**
* Developed By: Audrey Saunders
**/

/* Global */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  --yellow: #ffc500;
  --cinnabar: #ef4431;
  --denim: #2a62ae;
  --pinky-beige: #f6eae8;
  --font-headline: "playfair-display", serif;
  --font-body: "Cabin", sans-serif;
  --font-subhead: "freight-text-pro", serif;
}

.container {
  margin: 0 auto;
}

body {
  font-size: small;
}


/* Text */

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: var(--font-headline);
  font-weight: 700;
  letter-spacing: .05rem;
  font-size: 3.75rem;
  line-height: 1;
}

h3, h5 {
  font-family: var(--font-subhead);
}

h3 {
  font-weight: 300;
  font-size: 2.375rem;
  line-height: 1.25;
}

h5 {
  font-weight: 400;
  font-size: 1.8rem;
}

h4 {
  font-family: var(--font-body);
  letter-spacing: .9px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--yellow);
}

.headline--main {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.headline--main a {
  color: var(--denim);
}

.subhead--component {
  margin-bottom: .5rem;
}

.component__name {
  margin-top: .4rem;
  margin-bottom: 1rem;
  font-size: .6rem;
}

.text-callout {
  background-color: #78e3ec;
  padding: 2px;
}


/* Images */

img {
  max-width: 100%;
}

svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Icons */


.hourglass-icon {
  width: 37px;
}

/* Containers */

.component__section {
  padding: 1.5rem 1rem 1rem 2rem;
  margin: 0 auto;
}

.component__section:nth-child(odd) {
  background-color: rgb(245, 245, 255);
}

.component__container {
  margin-top: 2rem;
  border: 1px solid lightgray;
  padding: 20px;
}

.component__screenshot {
  margin-top: 1rem;
}

.article-container {
  max-width: 1265px;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* Buttons */


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .9px;
  font-size: 1em;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-weight: 500;
}

.button--small {
  width: 293px;
  height: 51px;
  padding-left: 25px;
  margin: 0;
  color: var(--denim);
  background-color: var(--pinky-beige);
  border: 1.5px solid var(--denim);
}

.button--small:hover {
  color: var(--pinky-beige);
  background-color: var(--denim);
}

.button__arrow {
  width: 5rem;
  fill: none;
  stroke: var(--denim);
  padding: 3px;
  background-clip:content-box;
}

/* can't figure out how to increase the hover area of the arrow without increasing the arrow size */
.button__arrow:hover {
  display: block;
  stroke: var(--pinky-beige);
  
}

.button--multi {
  width: 100%;
  height: 3rem;
  border-top: 1px solid var(--denim);
  border-bottom: 1px solid var(--cinnabar);
  background: transparent;
  color: black;
}

.button--multi:hover {
  color: black;
  border: none;
  background-color: var(--yellow);
}

.button__arrow--multi {
  width: 5rem;
  fill: none;
  stroke: black;
  padding: 3px;
  background-clip:content-box;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr 830.62px 2fr;
  grid-template-rows: repeat(2 1fr);
  border-bottom: 1px solid var(--cinnabar);
}

.header:hover {
  background-color: var(--pinky-beige);
}

.header__callout {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: var(--yellow);
  letter-spacing: .9px;
  font-size: 12px;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-weight: 500;
}

.header__callout__text {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
}

.header__nav {
  padding-bottom: 1rem;
  grid-column: 2/3;
  grid-row: 2/3;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 20px;
  overflow: hidden;
  padding-right: 1rem;
  padding-left: 6rem;
  
}

.header__nav a {
  font-family: var(--font-body);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: .95rem;
  letter-spacing: .9px;
}

.header__bag {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  justify-self: end;
}

.header__bag a {
  font-family: var(--font-body);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: .95rem;
  letter-spacing: .9px;
  margin-right: .75rem;
}

.header__logo {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: start;
  margin-left: .75rem;
  margin-right: .75rem;
}

.header__logo:hover {
 fill: var(--yellow);
}

/* Hero Image */

.hero-section {
  display: grid;
  position: relative;
}

.hero-section__button {
  position: relative;
  bottom: 3em;
  z-index: 2;
  justify-self: center;
}

.hero-section__background {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 50%));
  height: 100vh;
  width: 100vw;
}

.hero-section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-code__title {
  padding-top: 3em;
}


/* Featured Images Section */

.feat-articles {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, 576px;
}

.feat-articles__image-grid {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  grid-column: 1/-1;
  grid-template-rows: 2/3;
  max-width: 1265px;
}

.feat-articles__image {
  width: 32%;
}

.feat-articles__headline {
  grid-column: 1/3;
  max-width: 506px;
}

.feat-articles__subhead {
  grid-column: 3/5;
  padding-top: 12px;
}

.fa-txt {
  padding-bottom: 5rem;
}

/* Text Section Single */

.text-section__text {
  display: flex;
  border-top: solid 1px var(--yellow);
  align-items:flex-start;
  padding: 1.5rem .5rem 2rem .5rem;
}

.text-section-single__headline {
  width: 60%;
  padding-left: 1.5rem;
}

.text-section-single__subhead {
 margin: 0;
}