/**
* Developed By: Audrey Saunders
**/

/* Global */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  --yellow: #ffc500;
  --cinnabar: #ef4431;
  --denim: #2a62ae;
  --pinky-beige: #f6eae8;
  --font-headline: "Playfair Display", serif;
  --font-body: "Cabin", sans-serif;
  --font-subhead: "FreightText", serif;
}

.container {
  margin: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 2rem;
}

body {
  font-size: small;
}


/* Text */

h1, h2 {
  font-family: var(--font-headline);
  font-weight: 700;
  letter-spacing: .05rem;
  font-size: 2rem;
}

h3 {
  font-family: var(--font-subhead);
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-family: var(--font-body);
  letter-spacing: .9px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: medium;
}

a {
  text-decoration: none;
}

.subhead--component {
  margin-top: 2.5rem;
}

.component__name {
  margin-top: .4rem;
  font-size: .6rem;
}

/* Images */

img {
  max-width: 100%;
}

svg {
  display: inline-block;
  /* vertical-align: right; */
  width: 100%;
  height: 100%;
}

/* Sections */

.component__container {
  margin-top: 1.5rem;
}

.screenshot__container {
  margin-top: 0;
}

.component__screenshot {
  padding: 1rem;
  margin-top: .5rem;
  background-color: #f6eae8;
}

.component {
  background-color: var(--pinky-beige);
  padding: 1rem;
  margin-top: 1rem;
  width: fit-content;
}

/* Buttons */

.button--small {
  display: flex;
  font-family: var(--font-body);
  justify-content: center;
  align-items: center;
  width: 293px;
  height: 51px;
  text-transform: uppercase;
  letter-spacing: .9px;
  font-size: 1em;
}


.bs--active {
  display: flex;
  color: var(--pinky-beige);
  background-color: var(--denim);
  align-items: center;
}

.button__arrow {
  width: 5rem;
  fill: none;
  stroke: var(--pinky-beige);
  padding: 0;
}

