/**
* Developed By: Audrey Saunders
**/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  --yellow: #ffc500;
  --cinnabar: #ef4431;
  --denim: #2a62ae;
  --pinky-beige: #f6eae8;
  --font-subhead: "Playfair Display", serif;
  --font-main: "Cabin", sans-serif;
  --font-headline: "FreightText", serif;
}

body {
  font-family: var(--font-main);
  font-size: small;
}