<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Whiled | Component Library</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/aon8qmh.css">
        <link href="../css/normalize.css" rel="stylesheet" />
        <link href="../css/main.css" rel="stylesheet" />
    </head>

    <body>
        <h1>Web Components</h1>

        <h2>Buttons</h2>

        <!-- <img src="images/buttons/button--small-active.png" alt="Active blue button"/> -->

        <!-- <img 
            srcset="images/buttons/button--small-active.png 2x" 
            src="images/buttons/button--small-active.png"
            alt="Active blue button"/> -->
     
        <div class="component">
            <a href="#!" class="button--small bs--active">Shop our new totes</a>
        </div>

    </body>

    </html>
